:root {
  --primary-font: "Roboto", sans-serif;
  --primary-fontsize: 16px;
  --primary-fontweight: 400;
  --primary-fontcolor: #434455;
  --primary-logocolor: #4d5ae5;
  --textcolor: #2e2f42;
  --textcolor2: #f4f4fd;
  --textlinknav: #404bbf;
  --primary-lineweight: 1.5;
  --btncolor: #4d5ae5;
  --btnBGcolor: #f4f4fd;
  --project-fontcolor: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  background: #ffffff;
  font-family: var(--primary-font);
  color: var(--primary-fontcolor);
  font-size: var(--primary-fontsize);
  line-height: var(--primary-lineweight);
  font-weight: var(--primary-fontweight);
}
.container {
  width: 1158px;
}

.page-header {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 72px;

  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-text {
  color: var(--textcolor);
}
.logo.link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-logocolor);
  list-style: none;
  text-decoration: none;
}

.menu {
  display: flex;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 156px;
}

.menu-nav.list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 76px;
  gap: 40px;
  font-weight: 500;
  list-style-type: none;
}
.menu-nav.link {
  letter-spacing: 0.02em;
  color: var(--textcolor);
  text-decoration: none;
}
.menu-nav.link:hover,
.menu-nav.link:focus {
  color: var(--textlinknav);
}

.contact {
  display: flex;
  gap: 40px;
}

.contact.link:hover,
.contact.link:focus {
  color: #404bbf;
}

.contact.list {
  font-style: none;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  font-style: normal;
  list-style-type: none;
}

.contact.link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-fontcolor);
  text-decoration: none;
}
.section.hero {
  background: var(--textcolor);
}

.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button,
.filt-btn {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus,
.contact-link:focus {
  background-color: #404bbf;
}

.hero-btn-txt {
}

.preference.list {
  display: flex;
  gap: 24px;
  width: 1128px;

  list-style: none;
}
.pref-content {
  background-color: #ffffff;
}

.pref-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(---primary-fontcolor);
}

.container {
  width: 1158px;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}

.name-sect {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--textcolor);
  text-align: center;
}

.section.team {
  background-color: #f4f4fd;
}
.doing.list {
  display: flex;
  gap: 24px;
  list-style: none;
}

.team.list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.team-item {
  background-color: #ffffff;
}

.name-group {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--textcolor);
}
.footer {
  background-color: var(--textcolor);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo {
  color: #f4f4fd;
}

/* PORFOLIO */
.work.list {
  list-style: none;
}
.filt-btn {
  color: var(--btncolor);
  text-align: center;
  letter-spacing: 0.04em;
  background: var(--btnBGcolor);
}
.filt-btn:hover,
.filt-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.project.link {
  text-decoration: none;
}

.project-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--project-fontcolor);
}
.type-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-fontcolor);
}
